$black-color: #000;
$brand-primary: #f8ad47;
$brand-danger: #ff5a5f;
$sale-poster-bgc: #53ccd7;
$brand-primary-color-dark: darken($brand-primary, 10%);
$brand-danger-color-dark: darken($brand-danger, 25%);